<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <title>Aviv</title>
    <style>
        body, html {
            height: 100%;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: Arial, sans-serif;
        }

        .image {
            text-align: center;
        }

        .logo {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <div class="image">
        <img class="logo" alt="" src="https://avivdigital.in/wp-content/themes/aco-theme/images/Acowebs-Logo.svg">
    </div>
</body>
<script>
    setTimeout(function () {
      window.location.href = 'http://localhost:3000/auth/google';
    }, 2000);
  </script>
</html>