<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" />
</head>
<style>
    /*-------- Main ---------*/
    .main {
        position: relative;
        background-color: #ffffff;
        width: 100%;
        height: 2063px;
        overflow: hidden;
        text-align: left;
        top: 10px;
        font-size: 14.42px;
        color: #343637;
        font-family: Inter;
    }

    .section-2 {
        position: absolute;
        top: 422.97px;
        left: 6%;
        height: 533.03px;
        color: #5d5e5e;
    }


    /*--------  Headers -------*/
    .personal-information {
        position: absolute;
        top: -33px;
        left: calc(50% - 0.800000000000011px);
        font-size: 19.45px;
        letter-spacing: -0.37px;
        line-height: 119%;
        text-transform: capitalize;
        font-weight: 600;
        display: flex;
        color: black;
        align-items: center;
        width: 190.04px;
    }

    #preview {
        max-width: 100%;
        max-height: 100%;
        display: block;
        margin: auto;
    }

    .academic-information {
        position: absolute;
        top: 583.62px;
        left: calc(50% - 2.8000000000000114px);
        font-size: 19.45px;
        letter-spacing: -0.37px;
        line-height: 119%;
        text-transform: capitalize;
        font-weight: 600;
        display: flex;
        color: black;
        align-items: center;
        width: 201.1px;
    }

    .other-information {
        position: absolute;
        top: 887px;
        left: calc(50% - 1.8000000000000114px);
        /* left: calc(50% - 159.8px); */
        font-size: 19.45px;
        letter-spacing: -0.37px;
        line-height: 119%;
        text-transform: capitalize;
        font-weight: 600;
        color: black;
        display: flex;
        align-items: center;
        width: 162.89px;
    }

    /*------- First Name -------*/
    .first-name-section {
        position: absolute;
        top: 24.03px;
        border-radius: 5.95px;
        border: 1px solid #d6d6d6;
        box-sizing: border-box;
        height: 47px;
        opacity: 0.99;
        font-size: 20px;
        width: calc(50% - -328px);

        @media screen and (min-width: 400px) {
            width: 365px;
        }
    }

    .first-name {
        position: absolute;
        top: 0px;
        left: 0px;
        text-transform: capitalize;
        font-weight: 500;
        display: flex;
        align-items: center;
        width: 81.04px;
    }


    /* -------  Last Name  -------- */
    .last-name-input {
        position: absolute;
        top: 23.86px;
        left: 0px;
        border-radius: 5.95px;
        border: 1px solid #d6d6d6;
        box-sizing: border-box;
        /* width: 345.9px; */
        height: 47px;
        opacity: 0.99;
        font-size: 20px;
        width: calc(50% - -328px);

        @media screen and (min-width: 400px) {
            width: 365px;
        }
    }

    .last-name {
        position: absolute;
        top: 0px;
        left: 0px;
        font-size: 13.59px;
        text-transform: capitalize;
        font-weight: 500;
        color: #343637;
        display: flex;
        align-items: center;
        width: 83.74px;
    }

    .last-name-section {
        position: absolute;
        top: 95.17px;
        left: 0px;
        height: 70.86px;
    }


    /* --------  Gender  --------- */
    .gender-section {
        position: absolute;
        top: 190.34px;
        width: 147.13px;
        height: 51.96px;
    }

    .gender {
        position: absolute;
        top: 12px;
        font-size: 13.59px;
        font-weight: 600;
        width: 55.38px;
    }

    .male {
        position: absolute;
        top: 41.96px;
        width: 37.82px;
    }

    .male-radio {
        position: absolute;
        top: 232px;
        left: 34.24px;
    }

    .female {
        position: absolute;
        top: 41.96px;
        left: 91.75px;
        width: 55.38px;
    }

    .female-radio {
        position: absolute;
        top: 232px;
        left: 141.96px;
    }


    /*-------  Email  --------*/
    .email-input {
        position: absolute;
        top: 24.62px;
        left: 1.01px;
        border-radius: 5.95px;
        border: 1px solid #d6d6d6;
        box-sizing: border-box;
        height: 46px;
        opacity: 0.99;
        font-size: 20px;
        width: calc(50% - -309px);

        @media screen and (min-width: 400px) {
            width: 365px;
        }
    }

    .email-section {
        position: absolute;
        top: 366.41px;
        left: 0px;
        height: 70.62px;
    }


    /* --------  Course  -------- */
    .course-section {
        position: absolute;
        top: 1065px;
        left: 23.01px;
        border-radius: 5.19px;
        border: 1px solid #d6d6d6;
        box-sizing: border-box;
        height: 48px;
        opacity: 0.99;
        font-size: 15px;
        width: calc(50% - -141px);

        @media screen and (min-width: 400px) {
            width: 365px;
        }
    }

    .course {
        position: absolute;
        top: 1041.59px;
        left: 23.2px;
        font-size: 13.59px;
        text-transform: capitalize;
        font-weight: 500;
        width: 53.83px;
    }


    /*------- Address -------*/
    .address-section {
        position: absolute;
        top: 1380px;
        left: 23.01px;
        border-radius: 5.19px;
        border: 1px solid #d6d6d6;
        box-sizing: border-box;
        height: 80px;
        font-size: 18px;
        opacity: 0.99;
        width: calc(50% - -141px);

        @media screen and (min-width: 400px) {
            width: 365px;
        }
    }

    .address {
        position: absolute;
        top: 1355.97px;
        left: 23.2px;
        font-size: 13.59px;
        text-transform: capitalize;
        font-weight: 500;
        display: flex;
        align-items: center;
        width: 62.2px;
    }


    /*----- Qualification -----*/
    .qualification-section {
        position: absolute;
        top: 1508px;
        left: 23.01px;
        border-radius: 5.19px;
        border: 1px solid #d6d6d6;
        box-sizing: border-box;
        /* width: 344.89px; */
        height: 48px;
        opacity: 0.99;
        font-size: 20px;
        width: calc(50% - -141px);

        @media screen and (min-width: 400px) {
            width: 365px;
        }
    }

    .qualification {
        position: absolute;
        top: 1484.14px;
        left: 23.2px;
        font-size: 13.59px;
        text-transform: capitalize;
        font-weight: 500;
        display: flex;
        align-items: center;
        width: 93.3px;
    }


    /*------ College/School -------*/
    .college-section {
        position: absolute;
        top: 1603px;
        left: 24.01px;
        border-radius: 5.19px;
        border: 1px solid #d6d6d6;
        box-sizing: border-box;
        height: 48px;
        opacity: 0.99;
        font-size: 20px;
        width: calc(50% - -141px);

        @media screen and (min-width: 400px) {
            width: 365px;
        }
    }

    .college {
        position: absolute;
        top: 1579.31px;
        left: 23.2px;
        font-size: 13.59px;
        text-transform: capitalize;
        font-weight: 500;
        display: flex;
        align-items: center;
        width: 111.25px;
    }


    /*------ Pincode -------*/
    .pincode-section {
        position: absolute;
        top: 1698px;
        left: 25.02px;
        border-radius: 5.19px;
        border: 1px solid #d6d6d6;
        box-sizing: border-box;
        height: 48px;
        opacity: 0.99;
        font-size: 20px;
        width: calc(50% - -141px);

        @media screen and (min-width: 400px) {
            width: 365px;
        }
    }

    .pincode {
        position: absolute;
        top: 1674.48px;
        left: 24.39px;
        font-size: 13.59px;
        text-transform: capitalize;
        font-weight: 500;
        display: flex;
        align-items: center;
        width: 66.99px;
    }


    /*------- District --------*/
    .district-section {
        position: absolute;
        top: 1793px;
        left: 26.02px;
        border-radius: 5.19px;
        border: 1px solid #d6d6d6;
        box-sizing: border-box;
        height: 48px;
        opacity: 0.99;
        font-size: 20px;
        width: calc(50% - -141px);

        @media screen and (min-width: 400px) {
            width: 365px;
        }
    }

    .district {
        position: absolute;
        top: 1769.66px;
        left: 25.59px;
        font-size: 13.59px;
        text-transform: capitalize;
        font-weight: 500;
        display: flex;
        align-items: center;
        width: 53.83px;
    }


    /*------- City -------*/
    .city-section {
        position: absolute;
        top: 1889px;
        left: 28.03px;
        border-radius: 5.19px;
        border: 1px solid #d6d6d6;
        box-sizing: border-box;
        height: 47px;
        opacity: 0.99;
        font-size: 20px;
        width: calc(50% - -141px);

        @media screen and (min-width: 400px) {
            width: 365px;
        }
    }

    .city {
        position: absolute;
        top: 1864.83px;
        left: 26.78px;
        font-size: 13.59px;
        text-transform: capitalize;
        font-weight: 500;
        display: flex;
        align-items: center;
        width: 29.91px;
    }


    /*------- Phone -------*/
    .phone-input {
        position: absolute;
        top: 24.45px;
        left: 64px;
        border-radius: 5.95px;
        border: 1px solid #d6d6d6;
        box-sizing: border-box;
        /* width: 345.9px; */
        height: 47px;
        opacity: 0.99;
        font-size: 20px;
        width: calc(50% - -264px);

        @media screen and (min-width: 400px) {
            width: 305px;
        }
    }

    .india {
        position: absolute;
        top: 24.45px;
        left: 0px;
        border-radius: 5.95px;
        border: 1px solid #d6d6d6;
        box-sizing: border-box;
        /* width: 345.9px; */
        height: 47px;
        opacity: 0.99;
        width: calc(50% - -328px);

        @media screen and (min-width: 400px) {
            width: 365px;
        }
    }

    .phone-section {
        position: absolute;
        top: 461.59px;
        left: 0px;
        height: 71.45px;
    }

    .phone-no {
        position: absolute;
        top: 0px;
        left: 0px;
        font-size: 13.59px;
        text-transform: capitalize;
        font-weight: 500;
        color: #343637;
        display: flex;
        align-items: center;
        width: 72.94px;
    }

    .country-code {
        position: absolute;
        top: 36.96px;
        left: 13.739999999999998px;
        line-height: 119%;
        text-transform: capitalize;
        display: flex;
        align-items: center;
        width: 31.53px;
        font-size: 20px;
    }


    /*------ Submit Button -------*/
    .submit {
        position: absolute;
        top: calc(50% - -954.31px);
        left: calc(50% - 50px);
        text-transform: uppercase;
        font-weight: 600;
        border-radius: 5.19px;
        background-color: #2ba8e0;
        width: 111.25px;
        border: none;
        color: white;
        font-size: 18px;
        height: 47.59px;
        cursor: pointer;
    }

	.submit:hover {
			background-color: #0077cc;
			transform: scale(1.05);
			color: black;
		}

    /*------ Registeration ------*/
    .reg-section {
        position: absolute;
        top: 58px;
        left: 27%;
        border-radius: 2.99px;
        background-color: #c3edff;
        width: 172px;
        height: 31px;
        display: flex;
        justify-content: center;

        @media screen and (min-width: 400px) {
            top: 75px;
            left: 120px;
            /* left: 32%; */
        }
    }

    .reg-no {
        position: absolute;
        top: calc(50% - 982.5px);
        left: calc(50% - 1.5px);
        font-weight: 500;
        font-size: 16px;
        text-align: center;
        justify-content: center;

        @media screen and (min-width: 400px) {
            top: calc(50.7% - 982.5px);
            left: calc(50% - 5px);
        }
    }

    .reg-class {
        position: absolute;
        top: calc(50% - 967.5px);
        left: calc(50% - 74.5px);
        font-weight: 500;
        font-size: 16px;

        @media screen and (min-width: 400px) {
            top: calc(50.7% - 966.5px);
            left: calc(50% - 70px);
        }
    }



    /*------ Mode Of Training ------*/
    .mot-section {
        position: absolute;
        top: 1161px;
        left: 23.01px;
        border-radius: 5.19px;
        border: 1px solid #d6d6d6;
        box-sizing: border-box;
        height: 47px;
        opacity: 0.99;
        font-size: 15px;
        width: calc(50% - -142px);

        @media screen and (min-width: 400px) {
            width: 365px;
        }
    }

    .mode-of-training {
        position: absolute;
        top: 1136.76px;
        left: 23.2px;
        font-size: 13.59px;
        text-transform: capitalize;
        font-weight: 500;
        display: flex;
        align-items: center;
        width: 127.99px;
    }


    /*-------- Admission --------*/
    .admission-section {
        position: absolute;
        top: 1231.72px;
        left: 24.39px;
        border-radius: 5.19px;
        border: 1px solid #d6d6d6;
        box-sizing: border-box;
        width: 110px;
        height: 27px;
        font-size: 19px;
    }

    .admission-date {
        position: absolute;
        top: 1225.93px;
        left: 23.2px;
        font-size: 13.59px;
        text-transform: capitalize;
        font-weight: 500;
        display: flex;
        align-items: center;
        width: 116.03px;
    }

    /*-------- Profile --------*/
    .profile-icon {
        position: absolute;
        height: 29.58%;
        top: 59%;
        bottom: 46.6%;
        left: calc(50% - 32.85px);
        max-height: 100%;
        width: 65.81px;
        object-fit: cover;
    }

    .profile-container {
        position: absolute;
        top: 72.19px;
        left: calc(50% - 85.31px);
        border-radius: 8.1px;
        background-color: #fff;
        border: 1.6px dashed #d6d6d6;
        box-sizing: border-box;
        width: 170.62px;
        height: 173.61px;
    }

    .profile-section {
        position: absolute;
        top: 63px;
        left: calc(50% - 85.3px);
        width: 170.3px;
        height: 222.48px;
        font-size: 14.85px;
        color: #fff;
    }


    /*------ Upload Button -------*/
    .upload {
        display: none;
    }

    .custom-upload-btn {
        position: absolute;
        top: 254.6px;
        left: calc(50% - 84.43px);
        text-transform: capitalize;
        font-weight: 700;
        border-radius: 2.99px;
        background-color: #2ba8e0;
        width: 156px;
        height: 26.3px;
        text-align: center;
        justify-content: center;
        color: white;
        font-size: 18px;
        border: none;
        padding: 6px;
    }

    /*------ Date Of Birth -------*/
    .dob {
        position: absolute;
        top: 24.32px;
        left: 1.35px;
        border-radius: 5.95px;
        border: 1px solid #d6d6d6;
        box-sizing: border-box;
        width: 145px;
        height: 43px;
        font-size: 18px;
    }

    .date-of-birth {
        position: absolute;
        top: 0px;
        left: 0px;
        font-size: 13.59px;
        text-transform: capitalize;
        font-weight: 500;
        color: #343637;
        display: flex;
        align-items: center;
        width: 97.25px;
    }

    .dob-section {
        position: absolute;
        top: 271.24px;
        left: 0px;
        width: 318.23px;
        height: 71.02px;
    }
</style>

<body>
    <div class="main">
        <form action="/update/<%= register_number %>" method="post" enctype="multipart/form-data">

            <!-- Profile -->
            <div class="profile-section">
                <img class="profile-container" id="preview" src="/uploads/<%= avatar %>" alt="Preview">
                <input class="upload" type="file" name="avatar" id="avatar" accept="image/*"
                    onchange="previewImage(this);">
                <label for="avatar" class="custom-upload-btn">Upload</label>
                <span class="file-name" id="file-name"></span>
            </div>

            <!-- Register Number -->
            <div class="reg-section"></div>
            <label class="reg-class">Reg no : </label>
            <p name="register_number" id="register_number" class="reg-no">
                <%= register_number %>
            </p>
            <input type="hidden" name="register_number" value="<%= register_number %>">

            <div class="section-2">

                <!-- Headers -->
                <label class="personal-information">personal information</label>
                <label class="academic-information">academic information</label>
                <label class="other-information">Other information</label>

                <!-- First Name -->
                <input type="text" class="first-name-section" value="<%= first_name %>" name="first_name"
                    required></input>
                <label class="first-name">First name</label>

                <!-- Last Name -->
                <div class="last-name-section">
                    <input class="last-name-input" value="<%=last_name%>" name="last_name" required></input>
                    <label class="last-name">Last name</label>
                </div>

                <!-- Gender -->
                <div class="gender-section">
                    <label class="gender">Gender</label>
                    <label class="male">Male</label>
                    <label class="female">Female</label>
                </div>

                <input type="radio" value="Female" name="gender" class="female-radio" <%=gender==="Female" ? 'checked'
                    : '' %>>
                <input type="radio" value="Male" name="gender" class="male-radio" <%=gender==="Male" ? 'checked' : ''
                    %>>

                <!-- Email -->
                <div class="email-section">
                    <input type="text" name="email" value="<%= email %>" class="email-input" readonly></input>
                    <label class="email">Email</label>
                </div>


                <!-- Date Of Birth -->
                <div class="dob-section">
                    <input type="date" class="dob" value="<%= date_of_birth %>" name="date_of_birth" required></input>
                    <label class="date-of-birth">Date of birth</label>
                </div>

                <!-- Phone -->
                <div class="phone-section">
                    <div class="india"></div>
                    <input type="text" name="phone_number" value="<%=phone_number%>" class="phone-input"
                        required></input>
                    <label class="phone-no">Phone no</label>
                    <label class="country-code">+91</label>
                </div>
            </div>


            <!-- Course -->
            <select name="course" class="course-section" required>
                <option>&nbsp;&nbsp;&nbsp;~ Select ~</option>
                <option value="Advanced Diploma In Digital Marketing"
                    <%=course==='Advanced Diploma In Digital Marketing' ? 'selected' : '' %>>&nbsp;&nbsp;Advanced
                    Diploma In Digital Marketing</option>
                <option value="Diploma In Digital Marketing" <%=course==='Diploma In Digital Marketing' ? 'selected'
                    : '' %>>&nbsp;&nbsp;Diploma In Digital Marketing</option>
                <option value="Digital Marketing For Entrepreneurs" <%=course==='Digital Marketing For Entrepreneurs'
                    ? 'selected' : '' %>>&nbsp;&nbsp;Digital Marketing For Entrepreneurs</option>
                <option value="React Front-end Developing " <%=course==='React Front-end Developing ' ? 'selected' : ''
                    %>>&nbsp;&nbsp;React Front-end Developing</option>
                <option value="Full Stack Using PHP" <%=course==='Full Stack Using PHP' ? 'selected' : '' %>
                    >&nbsp;&nbsp;Full Stack Using PHP</option>
                <option value="MERN Stack Developer" <%=course==='MERN Stack Developer' ? 'selected' : '' %>
                    >&nbsp;&nbsp;MERN Stack Developer</option>
                <option value="Ui & UX Design" <%=course==='Ui & UX Design' ? 'selected' : '' %>>&nbsp;&nbsp;Ui & UX
                    Design</option>
            </select>
            <div class="course">Course</div>


            <!-- Mode Of Training -->
            <select name="mode_of_training" class="mot-section" required>
                <option>&nbsp;&nbsp;&nbsp;~ Select ~</option>
                <option value="Full Time" <%=mode_of_training==='Full Time' ? 'selected' : '' %>>&nbsp;&nbsp;Full Time
                </option>
                <option value="Part Time" <%=mode_of_training==='Part Time' ? 'selected' : '' %>>&nbsp;&nbsp;Part Time
                </option>
                <option value="Holiday Batch" <%=mode_of_training==='Holiday Batch' ? 'selected' : '' %>
                    >&nbsp;&nbsp;Holiday Batch</option>
            </select>
            <div class="mode-of-training">Mode of training</div>

            <!-- Admission -->
            <p name="admission_date" id="admission_date" class="admission-section" readonly></p>
            <div class="admission-date">Admission date</div>


            <!-- Address -->
            <textarea class="address-section" name="address" required><%=address%></textarea>
            <div class="address">Address</div>


            <!-- Qualification -->
            <input type="text" value="<%=qualification%>" name="qualification" class="qualification-section"
                required></input>
            <div class="qualification">Qualification</div>


            <!-- College/School -->
            <input type="text" value="<%=school%>" name="school" class="college-section" required></input>
            <div class="college">College/school</div>


            <!-- Pincode -->
            <input type="text" value="<%=pincode%>" name="pincode" class="pincode-section" required></input>
            <div class="pincode">Pincode</div>


            <!-- District -->
            <input type="text" value="<%=district%>" name="district" class="district-section" required></input>
            <div class="district">District</div>


            <!-- City -->
            <input type="text" value="<%=city%>" name="city" class="city-section" required></input>
            <div class="city">City</div>

            <input type="text" name="register_number" id="register_number-input" style="visibility: hidden;">
            <!-- Submit Button -->
            <button class="submit" type="submit">Update</button>
        </form>
    </div>
</body>
<script>
    var now = new Date();
    var date = now.toLocaleDateString();
    document.getElementById("admission_date").innerHTML = date;


    function previewImage(input) {
    var preview = document.getElementById('preview');
    var fileNameSpan = document.getElementById('file-name');
    
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
            preview.src = e.target.result;
        };

        reader.readAsDataURL(input.files[0]);
        fileNameSpan.textContent = input.files[0].name;
    } else {
        var currentImageSrc = preview.getAttribute('src');
    }
    var form = input.form;
    if (form.checkValidity()) {
        input.focus();
    }
}

</script>

</html>