<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1, width=device-width">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" />
	<style>
		/*------ Name ------*/
		.name {
			position: absolute;
			top: 0px;
			left: 0px;
			text-transform: capitalize;
			font-size: 17px;
			font-weight: 900;
			color: black;
		}

		.name-text {
			position: absolute;
			top: 8.27px;
			left: 0.12px;
			font-size: 14.42px;
			line-height: 119%;
			text-transform: capitalize;
			color: #5d5e5e;
		}


		/*------- Gender ------*/
		.gender-text {
			position: absolute;
			top: 64.27px;
			left: 0px;
			line-height: 119%;
			text-transform: capitalize;
		}

		.gender {
			position: absolute;
			top: 56px;
			left: 0.2px;
			font-size: 13.59px;
			text-transform: capitalize;
			font-size: 17px;
			font-weight: 900;
			color: #343637;
		}


		/*------ Email -------*/
		.email-text {
			position: absolute;
			top: 177.26999999999998px;
			left: 0.12px;
			line-height: 119%;
		}

		.email {
			position: absolute;
			top: 172px;
			left: 0px;
			font-size: 13.59px;
			font-size: 17px;
			font-weight: 900;
			color: #343637;
		}

		/*------ Name -------*/
		.dob {
			position: absolute;
			top: 111px;
			left: 0px;
			text-transform: capitalize;
			font-size: 17px;
			font-weight: 900;
			color: black;
		}

		.dob-text {
			position: absolute;
			top: 122px;
			left: 0px;
			line-height: 119%;
			text-transform: capitalize;
		}





		.div1 {
			position: absolute;
			top: 879px;
			left: 21px;
			font-size: 14.42px;
			line-height: 119%;
			text-transform: capitalize;
		}




		.country-code {
			position: absolute;
			top: 26.269999999999996px;
			left: 0px;
			line-height: 119%;
			text-transform: capitalize;
		}



		.parent {
			position: absolute;
			top: 27px;
			left: 0.12px;
			width: 79px;
			height: 348px;
			font-size: 12.12px;
			color: #5d5e5e;
		}

		.date-of-birth-parent {
			position: absolute;
			top: 114px;
			left: 0.2px;
			width: 85px;
			height: 375px;
			font-size: 13.59px;
			color: #343637;
		}

		.div2 {
			position: absolute;
			top: 26.27px;
			left: 0px;
			line-height: 119%;
			text-transform: capitalize;
		}

		.phone-no {
			position: absolute;
			top: 0px;
			left: 0.01px;
			font-size: 13.59px;
			text-transform: capitalize;
			font-size: 16px;
			font-weight: 900;
			color: #343637;
		}

		.group {
			position: absolute;
			top: 227px;
			left: 0.2px;
			width: 121.98px;
			height: 36.27px;
		}

		.group-container {
			position: absolute;
			top: 400px;
			left: 19.8px;
			width: 172.32px;
			height: 489px;
			color: #5d5e5e;
		}

		.academic-information {
			position: absolute;
			top: 699px;
			left: 4%;
			font-size: 22px;
			letter-spacing: -0.37px;
			line-height: 119%;
			text-transform: capitalize;
			font-weight: 600;
		}

		.other-information {
			position: absolute;
			top: 924px;
			left: 4%;
			font-size: 22px;
			letter-spacing: -0.37px;
			line-height: 119%;
			text-transform: capitalize;
			font-weight: 600;
		}

		.uiux-designing {
			position: absolute;
			top: 767px;
			left: 20px;
			line-height: 119%;
			text-transform: capitalize;
			color: #5d5e5e;
		}

		.course {
			position: absolute;
			top: 741px;
			left: 20px;
			font-size: 17px;
			font-weight: 900;
			text-transform: capitalize;
			font-weight: 500;
		}

		.full-time {
			position: absolute;
			top: 823px;
			left: 20px;
			line-height: 119%;
			text-transform: capitalize;
			color: #5d5e5e;
		}

		.mode-of-training {
			position: absolute;
			top: 797px;
			left: 20px;
			font-size: 17px;
			font-weight: 900;
			text-transform: capitalize;
			font-weight: 500;
		}

		.admission-date {
			position: absolute;
			top: 853px;
			left: 21px;
			font-size: 17px;
			font-weight: 900;
			text-transform: capitalize;
			font-weight: 500;
		}

		.punnakkattuparambil-house {
			margin: 0;
		}

		.punnakkattuparambil-house-vil-container {
			position: absolute;
			top: 1100px;
			left: 20px;
			line-height: 119%;
			text-transform: capitalize;
			color: #5d5e5e;
		}

		.address {
			position: absolute;
			top: 1074px;
			left: 21px;
			font-size: 13.59px;
			text-transform: capitalize;
			font-size: 17px;
			font-weight: 900;
		}

		.bsc-computer-science {
			position: absolute;
			top: 988px;
			left: 20px;
			line-height: 119%;
			text-transform: capitalize;
			color: #5d5e5e;
		}

		.qualification {
			position: absolute;
			top: 962px;
			left: 20px;
			font-size: 17px;
			font-weight: 900;
			text-transform: capitalize;
			font-weight: 500;
		}

		.dhanlaxmi-srinivasan-college {
			position: absolute;
			top: 1044px;
			left: 19px;
			line-height: 119%;
			text-transform: capitalize;
			color: #5d5e5e;
		}

		.collegeschool {
			position: absolute;
			top: 1018px;
			left: 20px;
			font-size: 17px;
			font-weight: 900;
			text-transform: capitalize;
			font-weight: 500;
		}

		.div4 {
			position: absolute;
			top: 1178px;
			left: 20px;
			line-height: 119%;
			text-transform: capitalize;
			color: #5d5e5e;
		}

		.calicut {
			position: absolute;
			top: 1234px;
			left: 20px;
			line-height: 119%;
			text-transform: capitalize;
			color: #5d5e5e;
		}

		.calicut1 {
			position: absolute;
			top: 1290px;
			left: 20px;
			line-height: 119%;
			text-transform: capitalize;
			color: #5d5e5e;
		}

		.gpay {
			position: absolute;
			top: 1336px;
			left: 75%;
			;
			font-size: 17.42px;
			line-height: 119%;
			text-transform: capitalize;
			color: #5d5e5e;
		}

		.pincode {
			position: absolute;
			top: 1152px;
			left: 20px;
			font-size: 13.59px;
			text-transform: capitalize;
			font-size: 17px;
			font-weight: 900;
		}

		.district {
			position: absolute;
			top: 1208px;
			left: 20px;
			font-size: 13.59px;
			text-transform: capitalize;
			font-size: 17px;
			font-weight: 900;
		}

		.city {
			position: absolute;
			top: 1264px;
			left: 20px;
			font-size: 13.59px;
			text-transform: capitalize;
			font-size: 17px;
			font-weight: 900;
		}

		.mode-of-payment {
			position: absolute;
			top: 1335px;
			left: 20px;
			font-size: 22px;
			letter-spacing: -0.37px;
			line-height: 119%;
			text-transform: capitalize;
			font-weight: 600;
		}

		.personal-information {
			position: absolute;
			top: 351px;
			left: 4%;
			font-size: 22px;
			letter-spacing: -0.37px;
			line-height: 119%;
			text-transform: capitalize;
			font-weight: 600;
		}

		.group-child {
			position: absolute;
			top: 0px;
			left: calc(50% - 84.5px);
			border-radius: 5px;
			width: 169px;
			height: 171.99px;
			object-fit: cover;
		}

		.group-wrapper {
			position: absolute;
			top: 0px;
			left: calc(50% - 84.5px);
			width: 169px;
			height: 171.99px;
		}

		.group-item {
			position: absolute;
			top: 0px;
			left: 0px;
			border-radius: 2.99px;
			background-color: #d6d6d6;
			width: 169px;
			height: 31px;
		}

		.reg-no2347653 {
			position: absolute;
			top: calc(50% - 8.5px);
			left: calc(50% - 58.5px);
			font-weight: 500;
		}

		.rectangle-parent {
			position: absolute;
			top: 0px;
			left: 0px;
			width: 169px;
			height: 31px;
		}

		.group-wrapper2 {
			position: absolute;
			top: 182px;
			left: 0px;
			width: 169px;
			height: 31px;
		}

		.group-div {
			position: absolute;
			top: 92px;
			left: calc(50% - 84px);
			width: 169px;
			height: 213px;
			font-size: 14.45px;
		}

		.vector-icon {
			position: absolute;
			height: 1.06%;
			width: 4.1%;
			top: 23.35%;
			right: 5.13%;
			bottom: 75.58%;
			left: 90.77%;
			max-width: 100%;
			overflow: hidden;
			max-height: 100%;
			object-fit: cover;
		}

		.vector-icon1 {
			position: absolute;
			height: 1.06%;
			width: 4.1%;
			top: 46.51%;
			right: 5.13%;
			bottom: 52.43%;
			left: 90.77%;
			max-width: 100%;
			overflow: hidden;
			max-height: 100%;
			object-fit: cover;
		}

		.vector-icon2 {
			position: absolute;
			height: 1.06%;
			width: 4.1%;
			top: 61.48%;
			right: 5.13%;
			bottom: 37.46%;
			left: 90.77%;
			max-width: 100%;
			overflow: hidden;
			max-height: 100%;
			object-fit: cover;
		}

		.frame-child {
			position: absolute;
			top: 1410px;
			left: calc(72% - 56px);
			border-radius: 5.19px;
			background-color: #2ba8e0;
			width: 111.25px;
			height: 47.59px;
			opacity: 0.99;
		}

		.register {
			position: absolute;
			margin-top: -86px;
			left: calc(63% - 34px);
			background-color: #2ba8e0;
			width: 111.25px;
			height: 47.59px;
			font-size: 16.5px;
			text-transform: uppercase;
			font-weight: 600;
			border-radius: 6px;
			color: #fff;
			cursor: pointer;
			transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
		}

		.register:hover {
			background-color: #0077cc;
			transform: scale(1.05);
			color: black;
		}

		.group-parent {
			position: relative;
			background-color: #fff;
			width: 100%;
			height: 1503px;
			overflow: hidden;
			text-align: left;
			font-size: 14.42px;
			color: #343637;
			font-family: Inter;
		}

		.edit-btn {
			margin-top: 1417px;
			margin-left: 54px;
			border-radius: 6px;
			background-color: #2ba8e0;
			width: 111.25px;
			height: 47.59px;
			font-size: 16.5px;
			text-transform: uppercase;
			font-weight: 600;
			color: #fff;
			transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
		}
		.edit-btn:hover {
			background-color: #0077cc;
			transform: scale(1.05);
			color: black;
		}

	</style>
</head>

<body>
	<form action="/edit/<%= register_number %>" method="get" enctype="multipart/form-data">
		<div class="group-parent">
			<div class="group-container">

				<!-- Name -->
				<label class="name">name</label>
				<p class="name-text">
					<%= first_name %>
						<%= last_name %>
				</p>


				<!-- Gender -->
				<label class="gender">gender</label>
				<p class="gender-text">
					<%= gender %>
				</p>


				<!-- Email -->
				<label class="email">Email</label>
				<p class="email-text">
					<%=email%>
				</p>


				<!-- Date Of Birth -->
				<label class="dob">Date of birth</label>
				<p class="dob-text">
					<%=date_of_birth%>
				</p>



				<!-- Phone Number -->
				<div class="group">
					<div class="div2">
						<%=phone_number%>
					</div>
					<label class="phone-no">Phone Number</label>
				</div>


			</div>
			<div class="academic-information">academic information</div>
			<div class="other-information">Other information</div>

			<!-- Course -->
			<div class="uiux-designing">
				<%= course %>
			</div>
			<div class="course">Course</div>

			<!-- mode_of_training -->
			<div class="full-time">
				<%= mode_of_training %>
			</div>
			<div class="mode-of-training">Mode of training</div>
			<div class="admission-date">Admission date</div>

			<!-- admission-date -->
			<div class="div1">
				<%=admission_date%>
			</div>
			<div class="punnakkattuparambil-house-vil-container">
				<p class="punnakkattuparambil-house">
					<%= address %>
				</p>
				<!-- <p class="punnakkattuparambil-house">Vilayur</p> -->
			</div>
			<div class="address">Address</div>

			<!-- Qualification -->
			<div class="bsc-computer-science">
				<%= qualification %>
			</div>

			<div class="qualification">Qualification</div>

			<!-- School -->
			<div class="dhanlaxmi-srinivasan-college">
				<%= school %>
			</div>
			<div class="collegeschool">College/school</div>

			<!-- Pincode -->
			<div class="div4">
				<%= pincode %>
			</div>


			<!-- District -->
			<div class="calicut">
				<%= district %>
			</div>

			<!-- City -->
			<div class="calicut1">
				<%= city %>
			</div>

			<!-- Mode-of-payment -->
			<div class="gpay">Gpay</div>
			<div class="pincode">Pincode</div>
			<div class="district">District</div>
			<div class="city">City</div>
			<div class="mode-of-payment">Mode Of Payment:</div>
			<div class="personal-information">personal information</div>
			<div class="group-div">
				<div class="group-wrapper">
					<div class="group-wrapper">
						<div class="group-wrapper">
							<div class="group-wrapper">
								<img src="/uploads/<%= avatar %>" class="group-child" id="preview">
							</div>
						</div>
					</div>
				</div>
				<div class="group-wrapper2">
					<div class="rectangle-parent">
						<div class="group-item">
						</div>

						<!-- Register Number -->
						<div class="reg-no2347653">Reg No :<%= register_number %>
						</div>


					</div>
				</div>
			</div>
			<a href="/edit/<%= register_number %>"><button class="edit-btn">Edit</button></a>
		</div>
	</form>
	<a href="/success/<%= register_number %>"><button class="register">Register</button></a>
</body>

</html>